/* esercizio #1 */
body .row .col-xs-12 .well .ex-1-square {
  background-color: none;
  transition: background-color 2s;
}

body .row .col-xs-12 .well .ex-1-square:hover {
  background-color: red;
  transition: background-color 2s;
}

/* esercizio #2 */
body .row .col-xs-12 .well .ex-2-square {
  width: 15%;
  transition: width 2s;
}
body .row .col-xs-12 .well .ex-2-square:active {
  width: 100%;
  transition: width 2s;
}

/* esercizio #3 */
body .row .col-xs-12 .well .ex-3-square {
  border-radius: 0%;
  transition: border-radius 2s;
}

body .row .col-xs-12 .well .ex-3-square:hover {
  border-radius: 50%;
  transition: border-radius 2s;
}

/* esercizio #4 */
body .row .col-xs-12 .well .ex-4-square {
  opacity: 1;
  transition: opacity 2s;
}

body .row .col-xs-12 .well .ex-4-square:hover {
  opacity: 0;
  transition: opacity 2s;
}

/* esercizio #5 */
body .row .col-xs-12 .well .ex-5-square {
  transform: scale(1);
  transition: transform 2s;
}

body .row .col-xs-12 .well .ex-5-square:hover {
  transform: scale(2);
  transition: transform 2s;
}

body .row .col-xs-12 .well .ex-5-square:active {
  transform: scale(0.5);
  transition: transform 2s;
}

/* esercizio #6 */
body .row .col-xs-12 .well .ex-6-img:hover {
  filter: grayscale(1);
}

/* esercizio #7 */
body .row .col-xs-12 .well .ex-7-img {
  filter: none;
  transition: filter 2s;
}
body .row .col-xs-12 .well .ex-7-img:hover {
  filter: sepia(30%) saturate(400%);
  transition: filter 2s;
}

/* esercizio #8 */
body .row .col-xs-12 .well .ex-8-img {
  filter: none;
  border-radius: 0;
  transition: filter 2s, border-radius 2s;
}
body .row .col-xs-12 .well .ex-8-img:hover {
  filter: sepia(100%) contrast(1000%);
  border-radius: 20px;
  transition: filter 2s, border-radius 2s;
}

/* esercizio #9 */
body .row .col-xs-12 .well .ex-9-img {
  filter: none;
  border-radius: 0;
  transform: scale(1);
  transition: filter 2s, border-radius 2s, transform 2s;
}
body .row .col-xs-12 .well .ex-9-img:hover {
  filter: brightness(50%) grayscale(80%) ;
  border-radius: 20px;
  transform: scale(1.5);
  transition: filter 2s, border-radius 2s, transform 2s;
}

/* esercizio #10 */
body .row .col-xs-12 .well .ex-10-icon {
  animation-name: rotation100;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes rotation100 {
  0% {transform: rotate(1turn);}
}

/* esercizio #11 */
body .row .col-xs-12 .well .ex-11-icon:hover {
  animation-name: rotation75;
  animation-duration: 1.5s;
  animation-timing-function: linear;
}

@keyframes rotation75 {
  0% {transform: rotate(0turn);}
  25% {transform: rotate(0.25turn);}
  50% {transform: rotate(0.5turn);}
  75% {transform: rotate(0.85turn);} /* non ho messo 0.75 turn perchè non arriverebbe effettivamente a 3/4 */
  100% {transform: rotate(0turn);}
}

/* esercizio #12 */
body .row .col-xs-12 .well .ex-12-button:hover .ex-12-top-white {
  animation-name: leftright;
  animation-duration: 1.5s;
  animation-timing-function: linear;
}

@keyframes leftright {
  0% {left: 20px;}
  50% {left: 130px;}
  100% {left: 20px;}
}

body .row .col-xs-12 .well .ex-12-button:hover .ex-12-bottom-white {
  animation-name: rightleft;
  animation-duration: 1.5s;
  animation-timing-function: linear;
}

@keyframes rightleft {
  0% {right: 35px;}
  50% {right: 130px;}
  100% {right: 35px;}
}

/* esercizio #13 */
body .row .col-xs-12 .well .ex-13-button:hover .ex-13-top-white {
  animation-name: leftright100;
  animation-duration: 2s;
  animation-timing-function: linear;
}

@keyframes leftright100 {
  0% {
    left: 20px;
  }
  30% {
    left: 180px;
    top: -10px;
  }
  45% {
    left: 180px;
    top: 50px;
  }
  70% {
    left: -20px;
    top: 50px;
  }
  90% {
    left: -20px;
    top: -10px;
  }
  100% {
    left: 20px;
  }
}

body .row .col-xs-12 .well .ex-13-button:hover .ex-13-bottom-white {
  animation-name: rightleft100;
  animation-duration: 2s;
  animation-timing-function: linear;
}

@keyframes rightleft100 {
  0% {
    right: 35px;
  }
  30% {
    right: 150px;
    bottom: -10px;
  }
  45% {
    right: 160px;
    bottom: 50px;
  }
  70% {
    right: -20px;
    bottom: 50px;
  }
  90% {
    right: -20px;
    bottom: -10px;
  }
  100% {
    right: 35px;
  }
}
